spring:
  datasource:
    url: jdbc:mysql://localhost:3306/clothing_subsidy?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&createDatabaseIfNotExist=true
    username: a
    password: rjxy
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
app:
  adminWhitelist:
    - "9447"
